# Ignore all files by default
*
*/

# Don't ignore directories
!*/

# Don't ignore Rust source files
!**/*.rs

# Don't ignore Cargo.toml files
!**/Cargo.toml

# Don't ignore .gitignore
!.gitignore

# Don't ignore README
!README.md

# Ignore target directories
**/target/

# Ignore Cargo lock files (optional, you might want to keep these)
**/Cargo.lock

# Ignore IDE specific files
**/.idea/
**/.vscode/
**/.DS_Store
